.container
    .header
        .row
            .col-md-4
                %img.img-fluid{:alt => "Responsive image", :src => image_path('logo.png')}/
            .col-md-4
            .col-md-4
                %img.img-fluid{:alt => "Responsive image", :src => image_path('sublogo.png')}/
                .row
                    %i.fa.fa-camera-retro.headerfont
                    %i.fa.fa-facebook-square.headerfont
                    %i.fa.fa-twitter.headerfont
                    %i.fa.fa-whatsapp.headerfont


    .menu   
        .col-md-12
            %span.menufont Firma
            %span.menufont Proyectos
            %span.menufont Noticias
            %span.menufont Reconocimientos
    .carrusel        
        .row
            .col-md-12
                #carouselExampleControls.carousel.slide{"data-ride" => "carousel"}
                    .carousel-inner{:role => "listbox"}
                        .carousel-item.active
                            %img.img-fluid{:alt => "Responsive image", :src => image_path('aviles.png')}/
                        .carousel-item
                            %img.d-block.img-fluid{:alt => "Second slide", :src => image_path('bilbao.png') }/
                        .carousel-item
                            %img.d-block.img-fluid{:alt => "Third slide", :src => image_path('valencia.png')}/

    .footer
        .row
            .col-md-4
                %span.footerfont Diseño web: jjac.
            .col-md-4
            .col-md-4    
                %span.footerfont ©2010 Fermín Fraguas todos los derechos reservados.