.container{
    margin: auto;
    background-color: #252525 ;
    
}
.carrusel{
    justify-content: center;
    background-color:  #252525 ;
    width: 100%;
    height: 100%;
}
.header{
    padding: 4px;
    display: block;
    background-color:white;
    font-size: inherit;

}
.menu{
    display: block;
    background-color:white;
}

.footer{
    background-color: #252525;
}

.headerfont{
    justify-content: flex-end;
    font-size: 30px;
    margin: 4px;
}

.menufont{
    justify-content: flex-end;
    font-size: 14px;
    margin: 4px;
}
.footerfont{
    justify-content: flex-end;
    font-size: 14px;
    margin: 4px;
    color: white;
}